/neuroConstruct/generatedNeuroML2/generate_if.py~
/neuroConstruct/generatedNeuroML2/iv_Granule_98.net.nml
/neuroConstruct/generatedNeuroML2/LEMS_iv_Granule_98.xml
/neuroConstruct/generatedNeuroML2/clean.sh
/neuroConstruct/generatedNeuroML2/*.dat
/neuroConstruct/generatedNeuroML2/*.dat.lems
/neuroConstruct/generatedNeuroML2/*.props
/neuroConstruct/generatedNeuroML2/runsim.sh
/neuroConstruct/generatedNeuroML2/*.hoc
/neuroConstruct/generatedNeuroML2/*.mod
/neuroConstruct/generatedNeuroML2/*_nrn.py
/neuroConstruct/generatedNeuroML2/*.log

*.pyc
*i686
*x86_64
umac
i386
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class

